---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 not Found">
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-white text-3xl text-center">Esta Página no existe...</h1>
    <iframe
      src="https://giphy.com/embed/kBlPua2g1f66PGjT7w"
      width="480"
      height="380"></iframe><p>
      <a href="https://giphy.com/gifs/yipyips-fail-404-yip-kBlPua2g1f66PGjT7w"
      ></a>
    </p>
  </div>
</Layout>
